{% extends "thegarden/layout.html" %}

{% block body %}

{% endblock %}



<!DOCTYPE html>
<html>
	<head>
        <link rel="shortcut icon" href="#">
		<meta charset="utf-8">
		<title>3d Model</title>
		<style>
			body { margin: 0; }


		</style>
	</head>
	<body>
        <script src="../../static/js/loader/three.js"></script>
        <script type="module" src= "../../static/js/loader/GLTFLoader.js"></script>
        <script type="module" src= "../../static/js/loader/plants.js"></script>
	</body>
</html>
